@model RestorantDuzenle
<div class="card mb-5 mb-xl-10">
	<!--begin::Card header-->
	<div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
		<!--begin::Card title-->
		<div class="card-title m-0">
			<h3 class="fw-bolder m-0">Profile Details</h3>
		</div>
		<!--end::Card title-->
	</div>
	<div id="kt_account_profile_details" class="collapse show">
		<!--begin::Form-->
		<form id="kt_account_profile_details_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate"
			  asp-controller="Restorant" asp-action="RestorantDuzenle" method="post">
			<!--begin::Card body-->
			<input type="number" name="RestoranID" class="d-none" placeholder="Company name" value="@Model.RestoranID">
			<div class="card-body border-top p-9">
				<div class="row mb-6">
					<label class="col-lg-4 col-form-label required fw-bold fs-6">Ad ve Telefon</label>
					<div class="col-lg-8">
						<div class="row">
							<div class="col-lg-6 fv-row fv-plugins-icon-container">
								<input type="text" name="Ad" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="First name" value="@Model.Ad" asp-for="Ad">
								<div class="fv-plugins-message-container"></div>
							</div>
							<div class="col-lg-6 fv-row fv-plugins-icon-container">
								<input type="text" name="Telefon" class="form-control form-control-lg form-control-solid" placeholder="Last name" value="@Model.Telefon" asp-for="Telefon">
								<div class="fv-plugins-message-container"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row mb-6">
					<!--begin::Label-->
					<label class="col-lg-4 col-form-label required fw-bold fs-6">Telefon</label>
					<!--end::Label-->
					<!--begin::Col-->
					<div class="col-lg-8 fv-row fv-plugins-icon-container">
						<input type="text" name="Adress" class="form-control form-control-lg form-control-solid" placeholder="Company name" value="@Model.Adress" asp-for="Adress">
						<div class="fv-plugins-message-container"></div>
					</div>
					<!--end::Col-->
				</div>
				<!--end::Input group-->
				<!--begin::Input group-->
				<!--end::Input group-->
				<!--begin::Input group-->
				<!--begin::Input group-->
			</div>
			<!--end::Card body-->
			<!--begin::Actions-->
			<div class="card-footer d-flex justify-content-end py-6 px-9">
				<button type="submit" class="btn btn-primary" id="kt_account_profile_details_submit">Save Changes</button>
			</div>
			<!--end::Actions-->
			<input type="hidden"><div></div>
		</form>
		<!--end::Form-->
	</div>
	<!--end::Content-->
</div>